@model MvcMusicStore.Models.Genre
@*@model IEnumerable<MvcMusicStore.Models.Genre>*@


@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name Albums</h2>
    <ul>
        @foreach (var albums in Model.Albums)
        {
            var imageurl = "/AlbumArt/" + @albums.AlbumId + ".jpg";
             <li> @Html.ActionLink(albums.Title,"Details",new {Id=@albums.AlbumId})
      @*<img src="~/AlbumArt/@albums.AlbumId".jpg" alt=@albums.Title height="10%" width="15%" />*@
        <img src=@imageurl alt=@albums.Title height="10%" width="15%"/>
        
            </li>
        }
    </ul>

