@model IEnumerable<MvcMusicStore.Models.Song>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select your Fav from  @Model.Count()</h2>

<ul>
    @foreach(var genre in Model)
    { 
        @*<li>@Html.ActionLink(@genre.Name, "Browse", new { genre =@genre.Name })  </li>*@
       
        <h2>@genre.Title</h2> 
    }
   
    </ul>