@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select your Fav from  @Model.Count()</h2>
<ul>
    @foreach(var genre in Model)
    { 
        <li>@Html.ActionLink(@genre.name, "Browse", new { genre =@genre.name })  </li>
   
    }
    </ul>